<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body>
<!-- HEADER INICIO-->
<header>
    <h1>PAGINA LISTADO DE USUARIOS</h1>
</header>
<section>
    <ul>    
        <% if (locals.user) { %>
            <% if (locals._locals.session.auth) { %>               
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/listUsers">Lista de usuarios</a></li>
                <li><a href="/users/register">Crear un usuario nuevo</a></li>
                <li><a href="/movies/create">Crear una pelicula nueva</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/404">Error 404</a></li>
            <% } else  { %>
                <li><a href="/">home</a></li>
                <li>Hola <%= locals.user %></li>
                <li><a href="/users/logout">LOGOUT</a></li>
            <% } %>
        <% } else  { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/">home</a></li>
        <% } %>
    </ul>
</section>
<!-- HEADER FIN-->
<!--------------------------------------->
<!-- CONTENIDO PRINCIPAL INICIO-->
<% if(users) { %>
<ul>
    <% for(let x=0; x < users.length; x++){ %>
    <li><%= x %> : <%= users[x].name %></li>
    <% } %>
</ul>
<% } else { %>
    <h3>NADA PARA MOSTRAR TODAVIA</h3>
<% } %>

<!-- CONTENIDO PRINCIPAL FIN-->
<!--------------------------------------->
<!-- FOOTER INICIO-->
<footer>
    <h3>FOOTER</h3>
</footer>
<!-- FOOTER FIN-->
</body>
</html>