

            <!DOCTYPE html>
            <html lang="es">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>MOVIES</title>
            </head>
            <body>
            <!-- HEADER INICIO-->
            <header>
                <h1>PAGINA REGISTRACION</h1>
            </header>
            <section>
                <ul>
                    <li><a href="/users/login">Por favor registrese</a></li>>
                    <li><a href="/">home</a></li>
                </ul>
            </section>
            <!--FORMULARIO-->
>
                <!--REGISTRO-->
                <form class="formulario-registro" action="/users/login" method="POST" enctype="multipart/form-data"
                    id="form">
                    <div class="control-form">
                        <label></label>
                        <input type="text" name="full_name" placeholder="Nombre Completo" id="full_name">

                    </div>
                    
                    <div class="control-form">
                        <label></label>
                        <input type="password" name="password" class="control" placeholder="Contraseña" id="password">

                    <div class="control-form">
                        <label></label>
                        <input type="text" name="email" class="control" placeholder="email@email.com" id="email">

                    </div>

                    <button class="control-button" type="submit"> Registrarse </button>

                </form>

    </body>

</html>