<form action="/users/register" method="POST">
    <label for="">name</label>
    <input type="text" name="name">
    <br>
    <label for="">age</label>
    <input type="text" name="age">
    <br>
    <label for="">email</label>
    <input type="email" name="email">
    <br>
    <button>Submit</button>
</form>