
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body>
<!-- HEADER INICIO-->
<header>
    <h1>PAGINA PARA REGISTRAR UN USUARIO NUEVO</h1>
</header>
<section>
    <ul>    
        <% if (locals.user) { %>
            <% if (locals._locals.session.auth) { %>               
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/listUsers">Lista de usuarios</a></li>
                <li><a href="/users/register">Crear un usuario nuevo</a></li>
                <li><a href="/movies/create">Crear una pelicula nueva</a></li>
                <li><a href="/">home</a></li>
                <li><a href="/404">Error 404</a></li>
            <% } else  { %>
                <li><a href="/">home</a></li>
                <li>Hola <%= locals.user %></li>
                <li><a href="/users/logout">LOGOUT</a></li>
            <% } %>
        <% } else  { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registrarse</a></li>
            <li><a href="/">home</a></li>
        <% } %>
    </ul>
</section>
<!-- HEADER FIN-->
<!--------------------------------------->
<!-- CONTENIDO PRINCIPAL INICIO-->

<!--FORMULARIO LOGIN-->
<div>
    <form action="/users/register" method="POST" id="form" >
        <div>
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Nombre" id="name">
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Ingrese el email" id="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="contraseña" id="password">
        </div>
        <div>
            <label>Rol de usuario</label>
            <input type="text" name="rol" placeholder="escribir 0=user o 1=admin" id="rol">
        </div>
        <button type="submit">Ingrese</button>
    </form> 
</div>

</body>
</html>