<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body>
<!-- HEADER INICIO-->
<header>
    <h1>PAGINA PRINCIPAL Y LISTADO DE PELICULAS</h1>
</header>
<section>
    <ul>
        <li><a href="/users/listUsers">Lista de usuarios</a></li>
        <li><a href="/users/crearusuario">Crear un usuario nuevo</a></li>
        <li><a href="/movies/create">Crear una pelicula nueva</a></li>
        <li><a href="/">home</a></li>
    </ul>
</section>
<!-- HEADER FIN-->
<!--------------------------------------->
<!-- CONTENIDO PRINCIPAL INICIO-->
<section>
    <% if(movies){ %>
        <% for (let x=0; x < movies.length; x++) { %> 
            <li>
                <a href="/movies/<%=movies[x].id%>"><%= x+1 %>: <%=movies[x].title%> </a>
            </li>
        <% } %> 
    <% }else{ %>
        <h2>NO HAY NADA PARA MOSTRAR</h2>
    <% } %>

</section>
<!-- CONTENIDO PRINCIPAL FIN-->
<!--------------------------------------->
<!-- FOOTER INICIO-->
<footer>
    <h3>FOOTER</h3>
</footer>
<!-- FOOTER FIN-->
</body>
</html>