<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES</title>
</head>
<body>
<!-- HEADER INICIO-->
<header>
    <h1>PAGINA DE ERROR 404</h1>
</header>
<section>
    <ul>
        <li><a href="/">home</a></li>
    </ul>
</section>
<!-- HEADER FIN-->
<!--------------------------------------->
<!-- CONTENIDO PRINCIPAL INICIO-->
<section>
    <h1>ERROR 404 pagina no encontrada</h1>
</section>
<!-- CONTENIDO PRINCIPAL FIN-->
<!--------------------------------------->
<!-- FOOTER INICIO-->
<footer>
    <h3>FOOTER</h3>
</footer>
<!-- FOOTER FIN-->
</body>
</html>
